<html>
    <body>
        <img src= "bears.png" width="600" height="200"/>
        <link rel= "stylesheet" href="style3.css"/>

        <h1>Enter new Task:</h1>

        <form action="newTask" method="POST">
            Task Name <input type="text" name ="taskName"/> <br  />
            Task Due <input type="string" name="taskDue"/> <br  />
            Task Description <input type="text" name="taskDesc"/> <br  />
            <button> Submit </button>
        </form>

        Click <a href= "/" HERE</a> to return to home page! :)

    </body>

</html>